# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2
      
    - name: Download and Extract LibSSH
      run: |
        mkdir deps
        mkdir deps/libssh
        cd deps/libssh
        wget https://github.com/libssh2/libssh2/archive/libssh2-1.9.0.zip
        unzip libssh2-1.9.0.zip
        mv libssh2-libssh2-1.9.0/* .
        mkdir build
        cd build
        
    # Runs cmake on the libssh
    - name: Build LibSSH
      uses: ashutoshvarma/action-cmake-build@v1
      with:
        build-dir: ${{ runner.workspace }}/deps/libssh/build
        
    - name: Download and Extract LibGit2
      run: |
        mkdir deps/libgit2
        cd deps/libgit2
        wget https://github.com/libgit2/libgit2/releases/download/v1.0.0/libgit2-1.0.0.zip
        unzip libgit2-1.0.0.zip
        mv libgit2-1.0.0/* .
        mkdir build
        cd build
    
    # Runs cmake on the libgit2
    - name: Build LibGit2
      uses: ashutoshvarma/action-cmake-build@v1
      with:
        build-dir: ${{ runner.workspace }}/deps/libgit2/build
        configure-options: "-DBUILD_SHARED_LIBS=OFF"

    # Runs cmake on the project
    - name: Build Metro
      uses: lukka/run-cmake@v1.4
      with:
        configure-options: "-DLIBGIT_INCLUDE_DIR=$GITHUB_WORKSPACE/deps/libgit2/include -DLIBGIT_BUILD_DIR=$GITHUB_WORKSPACE/deps/libgit2/build -DLIBSSH_BUILD_DIR=$GITHUB_WORKSPACE/deps/libssh/build/src"
        
