# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2
      
    - name: Install LibSSH
      uses: |
        mkdir deps
        mkdir deps/libssh
        cd deps/libssh
        wget https://github.com/libssh2/libssh2/releases/download/libssh2-1.9.0/libssh2-1.9.0.tar.gz
        tar -xzf libssh2-1.9.0.tar.gz
        mkdir build
        cd build
        
    # Runs cmake on the libssh
    - name: run-cmake
      uses: lukka/run-cmake@v1.4
      with:
        cmakeListsTxtPath: ${{ github.workspace }}/deps/libssh/CMakeLists.txt
        
    - name: Returns to deps
      uses: |
        cd ../..
    
    - name: Install LibGit2
      uses: |
        mkdir libgit2
        cd libgit2
        wget https://github.com/libgit2/libgit2/releases/download/v1.0.0/libgit2-1.0.0.tar.gz
        tar -xzf libgit2-1.0.0.tar.gz
        mkdir build
        cd build
    
    # Runs cmake on the libgit2
    - name: run-cmake
      uses: lukka/run-cmake@v1.4
      with:
        cmakeListsTxtPath: ${{ github.workspace }}/deps/libgit2/CMakeLists.txt
        
    - name: Prepare Build
      uses: |
        cd ../../..
        CURRENT_DIR="$(pwd)"
        LIBGIT_INCLUDE_DIR=$CURRENT_DIR/deps/libgit2/include
        LIBGIT_BUILD_DIR=$CURRENT_DIR/deps/libgit2/build
        LIBSSH_BUILD_DIR=$CURRENT_DIR/deps/libssh/build/src
        mkdir build
        cd build

    # Runs cmake on the project
    - name: run-cmake
      uses: lukka/run-cmake@v1.4
        
